.system-pf2e .sheet.actor:not(.loot-sheet-npc),
.system-pf2e .sheet.item {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
}

.system-pf2e .sheet.actor .window-header,
.system-pf2e .sheet.item .window-header {
    border: none;
    color: var(--main-text-light-color);
}

.system-pf2e .sheet.actor:not(.loot-sheet-npc) .window-header::after,
.system-pf2e .sheet.item .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -9px;
    background: url(../../ui/frames/header.webp);
    background-size: 100% 45px;
}

.system-pf2e .window-app.dice-checks.dialog .window-content{
    background: url(/ui/parchment.jpg) repeat;
    color: #191813;
}

.pf2e.chat-card .card-header,
.pf2e.chat-card .card-footer,
.pf2e.chat-card .card-footer span {
    border-color: var(--border-color);
}

.system-pf2e .effect-panel {
    right: 300px;
    top: 22px;
}

.effect-panel div[data-item-id] {
    position: relative;
    border-radius: 50%;

    border: 2px solid var(--border-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px
}

/* Monk's TokenBar */
/* https://github.com/ironmonk88/monks-tokenbar */

:root{
    --monks-border-color: #6b6155;
}

#chat .monks-tokenbar.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove var(--monks-border-color);
    border-bottom: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer {
    border-top: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer span {
    border-right: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #cfbda7;
}

#chat .monks-tokenbar.chat-card .card-header h3 {
    color: var(--main-text-light-color)
}

#chat #requestsavingthrow .request-header {
    border-radius: 4px;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    background: black;
    border: 2px solid var(--border-color);
    padding: 1px 8px;
}

#chat .monks-tokenbar .sheet .items-list .item-name h3,
#chat .monks-tokenbar .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    font-weight: bold;
    padding: 1px 4px;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    flex-wrap: nowrap;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar.chat-card .sheet .items-list {
    padding: 0;
}

/* Babele */
/* ttps://gitlab.com/riccisi/foundryvtt-babele */
#actor-translate-log {
    color: var(--main-text-very-light-color)
}