/* Custom CSS - PF2 STYLE REMASTER by Sasmira */

:root {
    --custom-red: #4e0707;
	--custom-green: #002a17;
	--custom-green-light: #365d4e;
	--border-radius: 3px;
}

.sheet.journal-entry .journal-entry-content {
    background: url(../css/assets/paperback.webp) repeat;

}



/* POLICES
====================================================== */
@font-face {
	font-family: "Taroca";
	src: url("./systems/fonts/Taroca.ttf") format('truetype');
}
@font-face {
	font-family: "Good OT";
	src: url("./systems/fonts/GoodOT.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Bold";
	src: url("./systems/fonts/GoodOT-Bold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Cond Bold";
	src: url("./systems/fonts/GoodOT-CondBold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Italic";
	src: url("./systems/fonts/GoodOT-Italic.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Std";
	src: url("./systems/fonts/Sabon-LT-Std-Roman.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Italic";
	src: url("./systems/fonts/Sabon-LT-Std-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "tauri";
    src: url("./systems/fonts/Tauri-Regular.ttf") format('truetype');
}


/* SIDEBAR
====================================================== */

.sheet.journal-entry {
    --sidebar-width-expanded: 256px;
}

.sheet.journal-entry .pages-list .directory-item.active:first-of-type {
    border-top: none;
}
.sheet.journal-entry .pages-list .directory-item.active:last-of-type {
    border-bottom: 2px solid var(--custom-green-light);
}
.sheet.journal-entry .pages-list .page-heading .page-title {
    text-indent: 0rem;
    font-family: "Good OT Cond Bold";
    font-size: 1.1rem;
}
.sheet.journal-entry .pages-list .h2 .heading-link {
    text-indent: 0.5rem;
    font-family: "Good OT";
}
.sheet.journal-entry .pages-list .h3 .heading-link {
    text-indent: 0.5rem;
    font-family: "Good OT";
}



/* TITRES
====================================================== */
.journal-sheet .journal-header {
    margin: 0rem;
}

.sheet.journal-entry .scrollable {
    top: 20px;
}

.sheet.journal-entry .journal-header .title {
    background: url(../css/assets/border-left.webp), url(../css/assets/border-right.webp), url(../css/assets/border-top.webp), url(../css/assets/border-bottom.webp), url(../css/assets/header-back-center.webp);
    background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: -10px calc(100% + 3px), calc(100% + 10px) calc(100% + 3px), 100% 1px, 100% 100%, 100% 100%;
    height: 90px;
    line-height: 32px;
    border: none;
    text-align: center;
	font-family: "Taroca";
    font-size: 2.2rem;
	color: var(--custom-green);
    letter-spacing: -0.1rem;
    text-transform: uppercase;
}

.journal-entry-page h1 {
	font-family: "Taroca";
	color: var(--custom-green);
	letter-spacing: -0.07rem;
	line-height: 100%;
	border-bottom: 0;
}
.journal-entry-page h1:hover {
	background-image: linear-gradient(#02256e00,#02256E00,#02256E44);
}
.journal-entry-page h2 {
    font-family: "Good OT Cond Bold";
	color: var(--custom-red);
	letter-spacing: -0.02rem;
	text-transform: capitalize;
	line-height: 100%;
	border-bottom: 0;
}
.journal-entry-page h2:hover {
	background-image: linear-gradient(#4e070700,#4e070700,#4e070744);
}

.journal-entry-page h3 {
	color: var(--custom-green-light);
    font-family: "Good OT Cond Bold";
	text-transform: capitalize;
	line-height: 100%;
	border-bottom: 0;
}
.journal-entry-page h3:hover {
	background-image: linear-gradient(#ad6f5900,#ad6f5900,#ad6f5900,#ad6f5944);
}

.journal-entry-page h4 {
    font-family: "Good OT";
	font-variant: small-caps;
	font-size: 132%;
	line-height: 100%;
	border-bottom: 0;
	font-weight: bold;
}
.journal-entry-page h4:hover {
	background-image: linear-gradient(#02256e00,#02256e00,#02256e00,#02256e44);
}

.journal-entry-page h5 {
	line-height: 100%;
	font-variant: small-caps;
	font-size: var(--font-size-14);
	border-bottom: 0;
	margin-bottom: 0;
}
.journal-entry-page h5:hover {
	background-image: linear-gradient(#02256e00,#02256e00,#02256e00,#02256e44);
}


/* TEXTE
====================================================== */

.journal-entry-page {
    font-family: "Sabon LT Std";
}

/* SYMBOLES PF2
====================================================== */

.journal-entry-page code {
	font-family: "pathfinder2eactions";
	font-style: normal;
	font-size: 150%;
	line-height: 66%;
}

/* TABLES
====================================================== */

.journal-entry-page table {
	font-family: "Good OT";
	max-width: calc(100% - 24px);
	margin-left: auto;
	margin-right: auto;
}
.journal-entry-page table th {
	color: white;
	background-color: #5e0000;
}
.journal-entry-page tr:nth-child(2n) {
	background-color: #f5efe0;
}
.journal-entry-page tr:nth-child(2n+1) {
	background-color: #efe3c8;
}
.journal-entry-page tr:hover {
	background-color: #e9d7b0;
}
.journal-entry-page table td,
.journal-entry-page table th {
	padding: 4px 6px;
}

/* TEXTES À LIRE
====================================================== */

.journal-entry-page .journal-page-content
blockquote:not(h6+p+ul+blockquote, h6+p+blockquote,
h6+ul+blockquote, h6+blockquote) {
    font-family: "Good OT Italic";
	text-shadow: 0 0 var(--custom-green);
	border-left-width: 0;
	border-top: 2px solid #392f22;
	border-bottom: 2px solid #392f22;
	background-color: #e9dbb375;
	border-radius: 5px;
	padding: 4px 12px;
	margin-left: 0;
	margin-right: 0;
}
/*.journal-entry-page .journal-page-content
blockquote:not(h6+p+ul+blockquote, h6+p+blockquote,
h6+ul+blockquote, h6+blockquote):hover {
	font-weight: bold;
}*/

/* BLOCS DESCRIPTIFS (via h6)
====================================================== */

.journal-entry-page .journal-page-content :is(h6, h6+p, h6+p+ul,
h6+p+blockquote, h6+p+ul+blockquote) {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #f5efe0aa;
}

.journal-entry-page .journal-page-content :is(h6, h6+p) {
	font-family: "tauri";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.15em;
}

.journal-entry-page .journal-page-content h6 {
	border-bottom: 1px solid black;
	padding: 4px 12px;
}

.journal-entry-page .journal-page-content h6+p {
	text-align: right;
	position: relative;
	bottom: 24px;
	right: 12px;
	height: 0;
	margin: 0;
	overflow: visible;
}

.journal-entry-page .journal-page-content h6+p+ul {
	clear: both;
	display: flex;
	font-family: "Good OT";
	font-size: 94%;
	list-style-type: none;
	padding: 4px 12px;
}

.journal-entry-page .journal-page-content h6+p+ul li {
	color: white;
	background-color: #58180d;
	padding: 2px 3px;
	border: 3px solid #dac68a;
	border-left-width: 4px;
	border-right-width: 4px;
	text-transform: uppercase;
	margin: 0;
}

/* Alignment (bold) */
.journal-entry-page .journal-page-content h6+p+ul li:has(strong) {
	background-color: #576293;
}
.journal-entry-page .journal-page-content h6+p+ul li strong {
	font-weight: normal;
}

/* Size (italics) */
.journal-entry-page .journal-page-content h6+p+ul li:has(em) {
	background-color: #3b7b59;
}
.journal-entry-page .journal-page-content h6+p+ul li em {
	font-style: normal;
}

/* Rarity (sub = uncommon, sup = rare, strikethrough = unique) */
.journal-entry-page .journal-page-content h6+p+ul li:has(sub) {
	background-color: #98513d;
}
.journal-entry-page .journal-page-content h6+p+ul li sub {
	vertical-align: baseline;
	font-size: 100%;
}
.journal-entry-page .journal-page-content h6+p+ul li:has(sup) {
	background-color: #002664;
}
.journal-entry-page .journal-page-content h6+p+ul li sup {
	vertical-align: baseline;
	font-size: 100%;
}
.journal-entry-page .journal-page-content h6+p+ul li:has(s) {
	background-color: #54166e;
}
.journal-entry-page .journal-page-content h6+p+ul li s {
	text-decoration: none;
}

.journal-entry-page .journal-page-content h6+p+ul li p {
	margin: 0;
}

.journal-entry-page .journal-page-content h6+p+ul+blockquote {
	border: 0;
	padding: 0 12px 4px 12px;
}
.journal-entry-page .journal-page-content h6+p+blockquote {
	border: 0;
	padding: 4px 12px 4px 12px;
}

.journal-entry-page .journal-page-content h6+p+ul+blockquote p,
.journal-entry-page .journal-page-content h6+p+blockquote p {
	font-family: "Good OT";
	font-style: normal;
	text-indent: -1em; 
	margin-left: 1em;
}

.journal-entry-page .journal-page-content h6+p+ul+blockquote p *,
.journal-entry-page .journal-page-content h6+p+blockquote p * {
	text-indent: 0; 
}

.journal-entry-page .journal-page-content h6+p+ul+blockquote p:first-child,
.journal-entry-page .journal-page-content h6+p+blockquote p:first-child {
	margin-top: 0;
}

.journal-entry-page .journal-page-content h6+p+blockquote hr,
.journal-entry-page .journal-page-content h6+p+ul+blockquote hr {
	border-top: 0;
	border-bottom: 1px solid black;
	margin: 0;
}
.journal-entry-page .journal-page-content a.inline-check[data-pf2-traits*=secret], span[data-pf2-check][data-pf2-traits*=secret] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
}	
.journal-entry-page .journal-page-content a.inline-check, span[data-pf2-check] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
}
.journal-entry-page .journal-page-content a.inline-check, span[data-pf2-action] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
}
.journal-entry-page .journal-page-content a.content-link, a.inline-roll {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
}	
	