/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-kingdom-theme {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --alt: var(--background);
    --sub: var(--background);

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
}


/*Kingdom-sheet-builder
/************************/
.sheet.kingdom-builder .window-header .window-title {
    color: var(--pfui-main-color);
}
.sheet.kingdom-builder .window-header {
    box-shadow: var(--glassy);
    background-color: var(--glass-bg-dark);
    border-radius: 3px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
    margin: 0px 0px 2px 0px;
}
.sheet.kingdom-builder .window-header a {
    color: var(--pfui-main-color);
}
.sheet.kingdom-builder .window-content {
    color: var(--pfui-main-color);
    background: none;
    box-shadow: none;
    margin: unset;
    backdrop-filter: blur(5px);
}
.sheet.kingdom-builder form {
    color: var(--pfui-main-color);
    background: none;
    backdrop-filter: blur(5px);
}
.sheet.kingdom-builder form > nav a.active {
    background-color: var(--glass-bg);
}
.sheet.kingdom-builder .build-element {
    background-color: var(--glass-bg);
}
.sheet.kingdom-builder .ability-builder {
    background-color: var(--glass-bg);
}
.sheet.kingdom-builder .build-element .selection {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg-dark);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.sheet.kingdom-builder button.complete {
    color: var(--pfui-main-color);
    background: radial-gradient( var(--primary-light-remaster), var(--primary-remaster));
    border-radius: 3px;
}
.sheet.kingdom-builder button.complete:hover {
    color: var(--background);
    background: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
.sheet.kingdom-builder .build-element .choices .choice img {
filter: grayscale(0.75);
}
.sheet.kingdom-builder .build-element .choices .choice.selected img, .sheet.kingdom-builder .build-element .choices .choice:hover img {
    box-shadow: 0 0 1px var(--green);
    filter: drop-shadow(1px 2px 5px var(--green)) brightness(1) ;
}
.sheet.kingdom-builder .build-element .choices .choice.selected, .sheet.kingdom-builder .build-element .choices .choice:hover {
    text-shadow: none;
    filter: drop-shadow(1px 2px 5px var(--green));
}
.sheet.kingdom-builder .build-element .build-entry-boosts .tag {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}

/*Government*/
.sheet.kingdom-builder a.content-link, a.inline-roll {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    box-shadow: var(--glassy);
    border-radius: 3px;
}

/*Ability Scores*/
.sheet.kingdom-builder .ability-builder .title {
    color: darkgoldenrod;
}
.sheet.kingdom-builder .ability-builder .summary-row .hint-container {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg-dark);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.sheet.kingdom-builder .ability-builder .summary-row .hint-container h3 {
    color: darkgoldenrod;
}
.sheet.kingdom-builder hr {
    border: none;
    border-top: 1px dotted var(--color-underline-header);
    border-bottom: 1px dotted var(--color-underline-header);
}
.sheet.kingdom-builder .ability-builder .summary-row .hint-container .aspiration select {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.sheet.kingdom-builder .ability-builder .summary-row .hint-container .aspiration select option, optgroup {
    background: var(--glass-bg-dark) ;
}
.sheet.kingdom-builder .ability-builder .summary-row .row-column .value {
    color: darkgray;
    filter: drop-shadow(1px 2px 5px var(--red));
}
.sheet.kingdom-builder .ability-builder h4 {
    color: var(--green);
}
.sheet.kingdom-builder button.complete:disabled {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 8px var(--color-shadow-primary);
    border-radius: 3px;
    filter: drop-shadow(0px 0px 0px var(--red));
}
.sheet.kingdom-builder .ability-builder .row-column button.selected {
    color: var(--pfui-main-color);
    background: var(--button-color);
    box-shadow: var(--glassy);
}
.sheet.kingdom-builder .ability-builder .row-column button:hover {
    color: var(--background);
    background: var(--green);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}





/*Kingdom-sheet     
/************************/
.system-pf2e .dark-kingdom-theme.sheet.kingdom:not(.loot-sheet-npc), .system-pf2e .sheet.item {
    height: 632px!important;
}
.dark-kingdom-theme.sheet.kingdom .window-content {
    color: var(--pfui-main-color);
    background: none;
    box-shadow: none;
    margin: unset;
    backdrop-filter: blur(5px);
}
.dark-kingdom-theme.sheet.kingdom .window-resizable-handle i.fas {
    border: none;
    background: none;
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom form > header .details .fame .pips i.fa-solid.fa-circle {
    color: var(--green) ;
}
.dark-kingdom-theme.sheet.kingdom .window-resizable-handle {
    border: none;
    background: none;
}
.dark-kingdom-theme.sheet.kingdom form > header .frame-container .player-image {
    box-shadow: none;
}
.dark-kingdom-theme.sheet.kingdom form {
    background: none;
}
.dark-kingdom-theme.sheet.kingdom .sidebar {
    border: none;
}
.dark-kingdom-theme.sheet.kingdom form > header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), transparent);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom form > header .details input[type=text], .dark-kingdom-theme.sheet.kingdom form > header .details input[type=number] {
    background: none;
}
.dark-kingdom-theme.sheet.kingdom form > header .details .name {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: 0 0 8px var(--color-shadow-primary);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom form > header input[type=text]:not(:disabled):hover, .dark-kingdom-theme.sheet.kingdom form > header input[type=text]:focus, .dark-kingdom-theme.sheet.kingdom form > header input[type=number]:not(:disabled):hover, .dark-kingdom-theme.sheet.kingdom form > header input[type=number]:focus {
    border: none;
    text-shadow: 0 0 8px var(--color-shadow-primary);
    box-shadow: none;
}
.dark-kingdom-theme.sheet.kingdom nav.sub-nav {
    border: 1px dotted var(--background-2);
    background: radial-gradient(var(--primary-remaster), transparent);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom nav.sub-nav a.active, .dark-kingdom-theme.sheet.kingdom nav.sub-nav .tab.active {
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom nav.sub-nav a, .dark-kingdom-theme.sheet.kingdom nav.sub-nav .tab {
    color: var(--pfui-main-color);
}
.dark-kingdom-theme.sheet.kingdom a.inline-check[data-pf2-traits*=secret], span[data-pf2-check][data-pf2-traits*=secret] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}	
.dark-kingdom-theme.sheet.kingdom a.inline-check, span[data-pf2-check] {
    color: var(--pfui-main-color);
    background: #61180e!important;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom a.inline-check, span[data-pf2-action] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom a.content-link, a.inline-roll {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}



/*        Main     
*************************/
.dark-kingdom-theme.sheet.kingdom h3.header {
    color: darkgoldenrod;
    border-bottom: 1px dotted var(--color-underline-header);
}
.dark-kingdom-theme.sheet.kingdom h3.header button {
    background: radial-gradient( var(--primary-light-remaster), var(--primary-remaster));
    border: 1px dotted var(--color-underline-header);
    color: darkgoldenrod;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .resources .resource-data {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .resources input[type=number] {
    color: var(--pfui-main-grey-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .leaders .leader {
    color: var(--green);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .leaders .leader .image {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .leaders .leader .details {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), transparent);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .ability-scores .ability {
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .ability-scores .ability .score {
    background: radial-gradient( var(--primary-light-remaster), var(--primary-remaster));
    border: 1px dotted var(--glass-bg-light-2);
    color: darkgoldenrod;
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] input[type=text], .dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] input[type=number] {
    color: var(--pfui-main-grey-color);
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .ability-scores .ability .corruption-section .progress {
    background: radial-gradient( var(--primary-light-remaster), var(--primary-remaster));
    border: 1px dotted var(--glass-bg-light-2);
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=main] .ability-scores .ability .corruption-section .progress::after {
    background-color: darkgoldenrod;
}



/*     Activities     
*************************/
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .control-dc {
    color: var(--pfui-main-grey-color);
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .control-dc .mod {
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .skill {
    border-bottom: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .skill .mod {
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .skill .name {
    color: var(--pfui-main-grey-color);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .skills .skill .button-group .small-button {
    color: var(--background);
    background: var(--green);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .actions .phase-summary {
    border-bottom: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .actions .phase-summary header {
    color: darkgoldenrod;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .actions .action {
    color: var(--pfui-main-grey-color);
    border-bottom: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=activities] .actions .action .item-summary {
    color: var(--pfui-main-color);
}
.sheet.kingdom .tab.active[data-tab=activities] .actions .action .item-name:hover {
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom .tags .tag, .dark-kingdom-theme.sheet.kingdom .tags .tag option {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .item-image:hover i {
    background: var(--green);
    color: var(--background);
    box-shadow: 0 0 6px inset var(--glass-bg);
}



/*        World     
*************************/
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement {
    color: var(--pfui-main-color);
    border-bottom: 1px dotted var(--background-2);
    background: radial-gradient(var(--background-2), transparent);
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement .item-name .name {
    color: var(--pfui-main-color);
    border: none;
    background: radial-gradient(var(--background-2), transparent);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement .item-name select option, optgroup {
    background: var(--glass-bg-dark);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement .item-name .level input[type=number] {
    color: var(--pfui-main-grey-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement .item-summary {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] .settlement .item-summary .settlement-data input[type=number] {
    color: var(--pfui-main-grey-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] aside {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=world] aside input[type=number] {
    color: var(--pfui-main-grey-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}



/*      Features     
*************************/
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=features] .feat-item .item-name .feat-slot-title {
    color: var(--green);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=features] .feat-item .item-name h4:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--color-shadow-primary);
}



/*      Ongoing     
*************************/
.dark-kingdom-theme.sheet.kingdom a:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--color-shadow-primary);
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=ongoing] .events .event-dc, .dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=ongoing] .events .event-dc input {
    color: darkgoldenrod;
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=ongoing] .events .event-dc input {
    color: var(--green);
    text-align: center;
}
.dark-kingdom-theme.sheet.kingdom .tab.active[data-tab=ongoing] .events .event-details {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}