/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-hazard-theme {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --alt: #786452;
    --sub: var(--background);

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
}


/************************/
/*     Hazard-sheet     */
/************************/

.dark-hazard-theme.sheet.hazard .window-content {
    color: var(--pfui-main-color);
    background: none;
    box-shadow: none;
    margin: unset;
    backdrop-filter: blur(5px);
}
.dark-hazard-theme.sheet.hazard form > header {
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
}
.dark-hazard-theme.sheet.hazard .sidebar .armor-class input {
    color: darkgoldenrod;
}
.dark-hazard-theme.sheet.hazard .sidebar .health input {
    color: darkgoldenrod;
}
.dark-hazard-theme.sheet.hazard .sidebar .sidebar-saves input {
    color: darkgoldenrod;
}
.dark-hazard-theme.sheet.hazard input[type=text], .dark-hazard-theme.sheet.hazard input[type=number] {
    color: darkgoldenrod;
}
.dark-hazard-theme.sheet.hazard .sidebar .initiative .roll-init {
    color: var(--green);
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.dark-hazard-theme.sheet.hazard .sidebar .initiative .roll-init i {
    color: var(--green);
}
.dark-hazard-theme.sheet.hazard .sidebar .valued-icon {
    color: var(--rarity-common);
    border: none;
    background: none;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 3px black;
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard .sidebar .sidebar-saves h2 {
    color: var(--green);
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.dark-hazard-theme.sheet.hazard .section-container .section-header h4 {
    color: var(--green);
}
.dark-hazard-theme.sheet.hazard .section-container .section-header {
    color: var(--pfui-main-color);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border: none;
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
    backdrop-filter: blur(5px);
}
.dark-hazard-theme.sheet.hazard form > header .title .name {
    color: var(--pfui-main-color);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.dark-hazard-theme.sheet.hazard .section-container .section-body {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    box-shadow: 0 0 6px inset var(--glass-bg-light-2);
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard .tags .tag, .dark-hazard-theme.sheet.hazard .tags .tag option {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard .actions-list li.action .button-group button, .dark-hazard-theme.sheet.hazard .actions-list li.attack .button-group button, .dark-hazard-theme.sheet.hazard .attacks-list li.action .button-group button, .dark-hazard-theme.sheet.hazard .attacks-list li.attack .button-group button {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard .tags.paizo-style tag, .dark-hazard-theme.sheet.hazard .tags.paizo-style .tag, .dark-hazard-theme.sheet.hazard .tags.paizo-style select.tag {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard form > header .frame-container .edit-mode-button {
    color: var(--red);
}
.dark-hazard-theme.sheet.hazard .sidebar .emits-sound select {
    color: var(--pfui-main-color);
    text-transform: uppercase;
    border: 1px solid black;
    background-color: var(--glass-bg);
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard option, .dark-hazard-theme.sheet.hazard optgroup {
    background: var(--background);
}
.dark-hazard-theme.sheet.hazard .sidebar {
    border:none;
}
.dark-hazard-theme.sheet.hazard a.inline-check[data-pf2-traits*=secret], span[data-pf2-check][data-pf2-traits*=secret] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}	
.dark-hazard-theme.sheet.hazard a.inline-check, span[data-pf2-check] {
    color: var(--pfui-main-color);
    background: #61180e!important;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard a.inline-check, span[data-pf2-action] {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-hazard-theme.sheet.hazard a.content-link, a.inline-roll {
    color: var(--pfui-main-color);
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid var(--glassy);
    border-radius: 3px;
}
.dark-party-theme.sheet.party .item-image:hover i {
    background: var(--green);
    color: var(--background);
    box-shadow: 0 0 6px inset var(--glass-bg);
}



/*        Glassy       
*************************/
.glassy.dark-hazard-theme.sheet.hazard .window-content {
    backdrop-filter: none;
}
.glassy.dark-hazard-theme.sheet.hazard .container {
    padding: 0px 0px 0px 5px;
}
.glassy.dark-hazard-theme.sheet.hazard .section-container {
    padding: 5px 0px 5px;
}
.glassy.dark-hazard-theme.sheet.hazard .section-container .section-header {
    backdrop-filter: blur(5px);
}
.system-pf2e .glassy.dark-hazard-theme.sheet.hazard:not(.loot-sheet-npc), .system-pf2e .sheet.item {
    background: none;
    box-shadow: none;
    border: none;
}
.glassy.dark-hazard-theme.sheet.hazard .window-header {
    box-shadow: var(--glassy);
    background-color: var(--glass-bg-dark);
    border-radius: 3px;
    margin: 0px 10px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.glassy.dark-hazard-theme.sheet.hazard form > header {
    box-shadow: var(--glassy);
    background: radial-gradient(var(--primary-remaster), var(--glass-bg-dark));
    border-radius: 3px;
    width: 97%;
    margin: 10px 10px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
.glassy.dark-hazard-theme.sheet.hazard .npc-sheet-header {
    --color-text-dark-input: var(--color-text-light-heading);
    box-shadow: var(--glassy);
    background: var(--glass-bg);
    border-radius: 3px;
    margin: 5px;
    padding: 2px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .sidebar {
    box-shadow: var(--glassy);
    background-color: var(--glass-bg-dark);
    border-radius: 3px;
    margin: 5px 5px;
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .section-container .section-body {
    color: var(--pfui-main-color);
    border: none;
    background: none;
    background-color: var(--glass-bg-dark);
    box-shadow: var(--glassy);
    text-shadow: 0 0 1px black;
    border-radius: 3px;
    backdrop-filter: blur(5px);
}
.glassy.dark-hazard-theme.sheet.hazard .window-resizable-handle i.fas {
    color: var(--green);
    background-color: var(--glass-bg-dark);
}
.glassy.dark-hazard-theme.sheet.hazard .window-resizable-handle {
    background: none;
    border: none;
}