/* A bunch of disgusting CSS overrides that hit the system's CSS like a hammer to remove as much colour as possible */

.dark-bw-theme {
    --alternate-background: darkgrey;
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --green: #91a82a;
    --blue: #171f69;
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --background: #100d0d;
    --background-2: #ffffff14;
    --highlight: 0 0 0 1px var(--pfui-main-color), 0 0 0 2px #93d1d3, inset 0 0 4px rgba(255, 255, 255, 0.25);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-light-2: #3f342b;
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
	--primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --primary: var(--red);
    --secondary: var(--blue);
    --tertiary: var(--pfui-main-color);
    --tertiary-dark: var(--pfui-main-color);
    --tertiary-light: var(--pfui-main-color);
    --body: var(--pfui-main-color);
    --text-dark: var(--pfui-main-color);
    --text-light: var(--pfui-main-color);
    --sidebar-label: var(--pfui-main-color);
    --sidebar-title: var(--pfui-main-color);
    
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;
    --text-shadow: 0px 1px 2px black;

    --alt: #786452;
    --sub: var(--background);

    /*--rarity-common: #7e7e7e;*/
    --rarity-common: var(--color-cool-1);
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;
    
/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-warm-4: #420418;
    --color-warm-5: #26020d;
    --color-cool-1: #b1a0d4;
    --color-cool-2: #79689c;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}

/*************************************************************/
/*====================== Black Windows ======================*/
/*************************************************************/
.window-app .window-content {
    background: unset;
    color: var(--pfui-main-color);
    backdrop-filter: blur(5px);
}
form .notes, 
form .hint {
    color: var(--pfui-main-grey-color);
}
h2 {
    border-bottom: 1px dotted var(--red);
}
.window-app form button,
.package-configuration aside.sidebar .reset-all {
    font-family: 'Kurale', serif;
    font-weight: 600;
    color: var(--pfui-main-grey-color);
    background: transparent;
    border: none !important;
    position: relative;
    box-shadow: none;
}
.window-app form button::before,
.package-configuration aside.sidebar .reset-all::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 110%;
    top: 0%;
    background: url(../ui/buttons/btn-dnd5e-card.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: 0;
}
.window-app .window-resizable-handle {
    --color-primary-3: #5d142b;
    --color-primary-4: #420418;
    --window-app-border-color: #302831;
    background: var(--color-primary-4);
    border: 1px solid var(--window-app-border-color);
    --border-radius: 2px;
    border-radius: 4px 0px var(--border-radius) 0px;
    border-bottom-color: var(--color-primary-3);
    border-right-color: var(--color-primary-3);
    color: var(--pfui-main-color);
    bottom: -1px;
    right: -1px;
    z-index: 2;
}
.dialog input:focus, 
.folder-edit input:focus {
    box-shadow: none;
    outline: 1px solid #584a75;
}
.actor.sheet section.window-content button.blue::before,
.attribute-builder .window-content .row-column button:hover,
.attribute-builder .window-content .row-column button::before,
.actor.npc.sheet form .sheet-body .footer button.spellcasting-create::before {
    background: unset;
}
nav.list-filters a.filter {
    border-bottom: 2px solid var(--color-warm-2);
}
nav.list-filters a.filter.active {
    border-bottom: 2px solid var(--red-light);
}
form button:hover,
.package-configuration aside.sidebar .reset-all:hover {
    color: var(--pfui-main-color);
    background: url(../ui/buttons/btn-accept.webp);
    background-size: 100% 100%;
}
.pf2e.item.sheet form > header input[type=text], 
.pf2e.item.sheet form > header input[type=number] {
    color: var(--pfui-main-grey-color);
}
input[type="text"], 
input[type="number"], 
input[type="password"], 
input[type="date"], 
input[type="time"], 
input[type="search"] {
    --input-background: #302831;
    background: var(--input-background);
    border: unset;
    border-color: unset;
    color: var(--color-warm-1);
    --input-box-shadow: none;
    box-shadow: var(--input-box-shadow) !important;
    border-radius: 4px;
    outline: 1px solid transparent;
    user-select: text;
    transition: outline-color 0.5s;
}
input[type=number], 
input[type="range"] + .range-value {
    border: unset;
    color: var(--color-warm-1) !important;
    --input-background: #302831;
    background: var(--input-background);
    font-weight: bold;
    text-shadow: var(--text-shadow);
    border-radius: var(--border-radius-5);
}

/* Package Configuration
***********************************/
.package-configuration aside.sidebar {
    border-right: 1px dotted var(--red);
}
.package-configuration aside.sidebar nav.tabs .category-tab.active {
    color: var(--color-warm-1);
    background: var(--color-warm-3);
    border-top: 1px solid var(--color-warm-2);
    border-bottom: 1px solid var(--color-warm-2);
    border-radius: var(--border-radius);
}
.package-configuration aside.sidebar nav.tabs .category-tab {
    border-bottom: unset;
}
select {
    border: 0;
    background: var(--rpg-styled-ui-color);
}
#permissions-config header.table-header {
    background: unset;
    border: unset;
    color: var(--pfui-main-color);
}
#permissions-config .hint {
    color: var(--pfui-main-grey-color);
}


/* Package List
***********************************/
.package-list .package {
    border-bottom: 1px dotted var(--color-cool-4);
}
#module-management .package-list .package-title {
    color: var(--pfui-main-grey-color);
}
#module-management .package-list .package-description {
    color: var(--color-cool-1);
} 
#module-management .package-list .package-metadata {
    color: var(--color-cool-2);
}


/* Keybinding
***********************************/
#keybindings .binding .key {
    text-shadow: var(--text-shadow);
}
#keybindings .binding .key.uneditable {
    background: var(--color-cool-4);
    text-shadow: var(--text-shadow);
}
#keybindings .action {
    border-bottom: 1px dotted var(--color-cool-4);
}


/* Sheet PF2e
***********************************/
.sheet nav.sheet-tabs {
    border: none;
}
.tabs .item.active {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
input[type="color"][data-edit] {
    border: unset;
}
.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.add-gm-notes, 
.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.editor-edit {
    background-color: transparent;
    color: var(--green);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.add-gm-notes:hover, 
.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.editor-edit:hover {
    color: var(--color-warm-2);
}
.tags.paizo-style tag, .tags.paizo-style .tag, .tags.paizo-style select.tag {
    border: solid black;
}
.pf2e.item.sheet form .sheet-body .tab.active label {
    color: var(--color-cool-1);
}
.pf2e.item.sheet form .sheet-content input:disabled, 
.pf2e.item.sheet form .sheet-content select:disabled {
    color: var(--color-cool-4);
}
.pf2e.item.sheet form .sheet-content input {
    color: var(--color-cool-5);
}
.pf2e.item.sheet form .form-group input.adjusted-higher:not(:focus),
.pf2e.item.sheet form .form-group select.adjusted-higher:not(:focus) {
  text-shadow: var(--text-shadow);
}
.pf2e.item.sheet form .form-group input.adjusted-lower:not(:focus),
.pf2e.item.sheet form .form-group select.adjusted-lower:not(:focus) {
  text-shadow: var(--text-shadow);
}
.attribute-builder .window-content .title {
    color: var(--color-cool-1);
}
.attribute-builder .window-content .row-column button.boost,
.attribute-builder .window-content .row-column button.apex {
    --button-color: var(--green);
    --button-locked-color: var(--green);
}
.attribute-builder .window-content .row-column button.flaw {
    --button-color: var(--red-light);
    --button-locked-color: var(--red-light);
}
.attribute-builder .window-content h4 {
    color: var(--pfui-main-grey-color);
}
.attribute-builder .window-content .summary-row .hint-container {
    background: var(--color-cool-4);
    border: unset;
}
.attribute-builder .window-content .summary-row .hint-container h3 {
    color: var(--red-light);
}
.tags.paizo-style tag > div,
.tags.paizo-style tag:first-child, 
.tags.paizo-style select.tag:first-child {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
}
[data-visibility]:not([data-visibility=all])[data-visibility=gm] {
    font-style: italic;
    color: var(--pfui-main-color);
    background: var(--color-warm-3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
}
[data-visibility]:not([data-visibility=all]) {
    outline: none;
    padding: 2px;
}
span[data-pf2-effect-area] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
a.inline-check[data-pf2-traits*=secret], 
span[data-pf2-check][data-pf2-traits*=secret] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    border-radius: var(--border-radius);
}	
a.inline-check, 
span[data-pf2-check] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
a.inline-check, 
span[data-pf2-action] {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
a.content-link, 
a.inline-roll {
    font-family: "Good OT";
    color: var(--pfui-main-color);
    background: var(--custom-trait);
    padding: 0px 3px;
    border: 1px solid var(--glassy);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}


/* Macro Sheet
***********************************/
.macro-sheet .form-group.command textarea {
    color: var(--green);
}


/*Filepicker
***********************************/
.filepicker .directory {
    border: 1px dotted var(--color-cool-4);
}
.filepicker .directory > li {
    border: 1px dotted var(--color-cool-4);
    color: var(--pfui-main-grey-color);
    text-shadow: var(--text-shadow);
}
.filepicker .directory > li:hover {
    color: var(--color-warm-1);
    text-shadow: var(--text-shadow);
}
.filepicker .favorites .path {
    color: var(--pfui-main-color);
    background: var(--red);
    border: none;
}
.filepicker .favorites .path a.link[data-source]::before {
    color: var(--pfui-main-color);
}
.filepicker .favorites .path .remove {
    border-left: unset;
}
.filepicker .display-modes a {
    border: unset;
    background: var(--color-warm-3);
}
.filepicker .display-modes a:hover {
    color: var(--color-warm-1);
}
.filepicker .display-modes a.active {
    border: unset;
    background: var(--color-warm-1);
    color: var(--color-warm-5);
}


/* Journal Sheet
***********************************/
.sheet.journal-entry .journal-entry-pages {
    color: var(--color-text-dark-primary);
}